apiVersion: v1
kind: Service
metadata:
  name: grafana-external
  namespace: log-pipeline
spec:
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30000
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: airflow-external
  namespace: log-pipeline
spec:
  selector:
    app: airflow
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30084
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: spark-master-external
  namespace: log-pipeline
spec:
  selector:
    app: spark-master
  ports:
    - name: web
      port: 8080
      targetPort: 8080
      nodePort: 30082
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: namenode-external
  namespace: log-pipeline
spec:
  selector:
    app: namenode
  ports:
    - port: 9870
      targetPort: 9870
      nodePort: 30870
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: generator-external
  namespace: log-pipeline
spec:
  selector:
    app: generator
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30800
  type: NodePort
