server:
  port: 8081

spring:
  application:
    name: log-collector

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS:192.168.55.114:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true

kafka:
  topics:
    logs: logs.raw
    events: events.activity
    alerts: alerts.realtime

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.pipeline: DEBUG
