apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: log-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: log-pipeline-backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka.log-pipeline.svc.cluster.local:9092"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-svc.log-pipeline.svc.cluster.local:5432/logs"
            - name: SPRING_DATASOURCE_USERNAME
              value: "admin"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "admin123"
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "update"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: log-pipeline
spec:
  selector:
    app: backend
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
