apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: log-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: log-pipeline-backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka.log-pipeline.svc.cluster.local:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: log-pipeline
spec:
  selector:
    app: backend
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
