apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: spark-worker
  namespace: log-pipeline
spec:
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
      containers:
        - name: spark-worker
          image: bde2020/spark-worker:3.3.0-hadoop3.3
          ports:
            - containerPort: 8081
          env:
            - name: SPARK_MASTER
              value: "spark://spark-master-svc.log-pipeline.svc.cluster.local:7077"
            - name: SPARK_WORKER_MEMORY
              value: "1536m"
            - name: SPARK_WORKER_CORES
              value: "2"
          resources:
            requests:
              memory: "1Gi"
              cpu: "1"
            limits:
              memory: "2Gi"
              cpu: "2"
---
apiVersion: v1
kind: Service
metadata:
  name: spark-worker-svc
  namespace: log-pipeline
spec:
  selector:
    app: spark-worker
  ports:
    - name: web
      port: 8081
      targetPort: 8081
  clusterIP: None
